@using Models.Classes;
@model User

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <aside class="col-sm-4"></aside>
    <aside class="col-sm-4">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Edition</h4>
                <hr>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user-plus"></i> </span>
                            </div>
                            <input value="@Model.FirstName" name="FirstName" id="FirstName" class="form-control" placeholder="first name" type="text" required>
                            <div style="cursor:pointer;" id="UpdateFirstName" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user-plus"></i> </span>
                            </div>
                            <input value="@Model.LastName" name="LastName" id="LastName" class="form-control" placeholder="last name" type="text" required>
                            <div style="cursor:pointer;" id="UpdateLastName" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                            </div>
                            <input value="@Model.Birthday.ToString("yyyy-MM-dd")" name="Birthday" id="Birthday" class="form-control" placeholder="birthday" type="date" required>
                            <div style="cursor:pointer;" id="UpdateBirthday" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-file"></i> </span>
                            </div>
                            <div class="custom-file">
                                <input name="Image" id="Image" class="form-control custom-file-input" placeholder="image path" type="file">
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                            <div style="cursor:pointer;" id="UpdateImage" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>
                            <input value="@Model.PhoneNumber" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="(xxx)-xxx-xxxx" type="tel" required>
                            <div style="cursor:pointer;" id="UpdatePhoneNumber" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
                            </div>
                            <input value="@Model.Location.Country" name="Country" id="Country" class="form-control" placeholder="country" type="text" required>
                            <div style="cursor:pointer;" name="UpdateLocation" data-update="Country" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-area-chart"></i> </span>
                            </div>
                            <input value="@Model.Location.Region" name="Region" id="Region" class="form-control" placeholder="region" type="text" required>
                            <div style="cursor:pointer;" name="UpdateLocation" data-update="Region" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                            </div>
                            <input value="@Model.Location.Address" name="Address" id="Address" class="form-control" placeholder="address" type="text" required>
                            <div style="cursor:pointer;" name="UpdateLocation" data-update="Address" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                            </div>
                            <input value="@Model.Location.Postcode" name="Postcode" id="Postcode" class="form-control" placeholder="postcode" type="text" required>
                            <div style="cursor:pointer;" name="UpdateLocation" data-update="Postcode" class="btn btn-primary">Update</div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4"></aside>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#UpdateFirstName").click(function () {
            var oldFirstName = $("#FirstName").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateFirstName")",
                data: {
                    firstname: $("#FirstName").val()
                },
                dataType: "text",
                success: function (response) {
                    if (response != "true") {
                        $("#FirstName").val(oldFirstName);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("#UpdateLastName").click(function () {
            var oldLastName = $("#LastName").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateLastName")",
                data: {
                    lastname: $("#LastName").val()
                },
                dataType: "text",
                success: function (response) {
                    if (response != "true") {
                        $("#LastName").val(oldLastName);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("#UpdateBirthday").click(function () {
            var oldBirthday = $("#Birthday").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateBirthday")",
                data: {
                    birthday: $("#Birthday").val()
                },
                dataType: "text",
                success: function (response) {
                    if (response != "true") {
                        $("#Birthday").val(oldBirthday);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("#UpdateImage").click(function () {
            formData = new FormData();
            formData.append("image", $("#Image")[0].files[0]);
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateImage")",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("#UpdatePhoneNumber").click(function () {
            var oldPhoneNumber = $("#PhoneNumber").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePhoneNumber")",
                data: {
                    phonenumber: $("#PhoneNumber").val()
                },
                dataType: "text",
                success: function (response) {
                    if (response != "true") {
                        $("#PhoneNumber").val(oldPhoneNumber);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("div[name=UpdateLocation]").on("click", function (event) {
            let button = event.target;

            var variable = button.getAttribute("data-update");
            var value = $("#" + button.getAttribute("data-update")).val();

            var data = JSON.parse("{\"" + variable + "\":\"" + value + "\"}");

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateLocation")",
                data: data,
                dataType: "text",
                success: function (response) {
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>